Q1. Write a Python program to find the second largest number in a list.

In [22]:
x=input('Enter the list :')
li=list(x.split(" "))
ma1=max(li[::])
ma2=max(li[0],li[1])

for i in range (len(li)):
    if li[i]==ma1 :
        continue
    else :
        if li[i]>ma2:
            ma2=li[i]
        else: pass
print('The max =',ma1)    
print('The secound max =',ma2)

Enter the list :12 25 48 23 69
The max = 69
The secound max = 48

Q2. Write a Python program to find the index of the second largest number in a list.

In [23]:
x=input('Enter the list :')
li=list(x.split(" "))
ma1=max(li[::])
ma2=max(li[0],li[1])

for i in range (len(li)):
    if li[i]==ma1 :
        continue
    else :
        if li[i]>ma2:
            ma2=li[i]
        else: pass
    
print('The secound max =',ma2,"It's index=",li.index(ma2))

Enter the list :12 25 36 20
The secound max = 25 It's index= 1

Q3. Write a Python program to check a container is empty or not.

In [29]:
l=[]

print(type(l),type(t))
if len(l)==0:
    print('t')
else:
    print('F')
    
t=()
if len(t)==0:
       print('t')
else:
    print('F')

<class 'list'> <class 'tuple'>
t
t

Q4. Write a Python program using Sieve of Eratosthenes method for computing primes upto a specified number.

In [21]:

pn=[]
n=int(input('Enter the number:'))
for i in range(i*i,n+1,i):
        pn.append(i)
        for j in range (2,n+1):
            if i not in pn:
                print(i)

Enter the number:100


Q5. Given a list slice it into a 3 equal chunks and print each list|

In [ ]:
x=(input('Enter the list :'))
y=len(x)//3
z=[]
k=[]
l=[]
z=x[ : y+1]
k=x[y+1 : y*2+1]
l=x[y*2+1:len(x)]
print(z,'\n',k,'\n',l)

Q6. Write a Python program to sort a list in descending order

In [5]:
x=input("Enter your list but don't ust more than one data type:").split()
#li=[]
#li.append(x)
x.sort(reverse=True)

print(x)

Enter your list but don't ust more than one data type:12 23 45 56
['56', '45', '23', '12']

Q7. Write a Python program to reverse a list

In [8]:
x=input("Enter your list but don't ust more than one data type:").split()
#li=[]
#li.append(x)
x.reverse()
print(x)

Enter your list but don't ust more than one data type:12 2 45 56
['56', '45', '2', '12']

Q8. Write a Python program to flatten a 2-D list.

In [ ]:
matrix=[[1,2,3],[4,5,6]]
newmax=[]
for i in matrix:
    for j in i :
        newmax.append(j)
print(newmax)

Q9. Given an input list removes the element at index 4 and add it to the 2nd position and also at the end of the list.

In [3]:
x=input("Enter the list :").split()

y=int(x[4])
x.remove(x[4])
x[0]=int(x[0])
x[0]=x[0]+y
x[len(x)-1]=int(x[len(x)-1])
x[len(x)-1]=x[len(x)-1]+y
print("the list after edit:",x)

Enter the list :12 23 20 10 30
the list after edit: [42, '23', '20', 40]

Q10. Given a two list of equal size create a set such that it shows only the common elements from both lists

In [2]:
x=input('enter the first list:')
x_set=set(x)
y=input('enter the secound list:')
y_set=set(y)
z=[]
for i in range(len(x)):
    for j in range(len(y)):
        if y[j] ==x[i] and y[j] != ' ':
            z.append(y[j])
        else :
            continue
print('common elements from both lists=',z)

enter the first list:2 5 6 3
enter the secound list:4 8 9 3
common elements from both lists= ['3']

Q11. Given a two list of equal size create a tuple such that it shows elements from both lists in pairs .

In [3]:
li1=[1,2,3,4]
li2=[5,6,7,8]
for i in range(4):
    print((li1[i],li2[i]))

(1, 5)
(2, 6)
(3, 7)
(4, 8)

Q12. Write a Python program to iterate and extract all key-value pair of a dictionary and print them.

In [4]:
personalInfo = { 
                     'Name' : 'Lina', 
                     'Age' : '23', 
                     'Mid name' : 'Amin', 
                     'Last name' : 'AL-Rajabi'
                    } 
                      

  
 for Info in personalInfo: 
    print(Info)

My personal Info is:

Name
Age
Mid name
Last name

Q13. Iterate a given list and Check if a given element already exists in a dictionary as a key’s value if not delete it from the list

In [21]:
personalInfo = { 
                     'Name' : 'Lina', 
                     'Age' : '23', 
                     'Mid name' : 'Amin', 
                     'Last name' : 'AL-Rajabi'
                    } 
                      
Info=input("Enter the Key:")  

if Info in personalInfo: 
        print("found ","\n") 
        print(" Key value =",personalInfo[Info]) 
else: 
        print("Not found")

Enter the Key:Name
found

 Key value = Lina

Q14. Given a dictionary get all values from the dictionary and add it in a list but don’t add duplicates

In [26]:
l1 = [{"Lina" : 1}, {"Amin" : 2}, {"Lina" : 1}, {"computer engineer" : 2}, {"BAU/Fet" : 3}] 

l2 = [] 
for i in range(len(l1)): 
    if l1[i] not in l1[i + 1:]: 
        l2.append(l1[i]) 
    else:
        continue
print ("final shape : " + str(l2))

final shape : [{'Amin': 2}, {'Lina': 1}, {'computer engineer': 2}, {'BAU/Fet': 3}]

Q15. Writea Pythonprogram whichaccepts asequence ofcomma-separated numbersfrom userand generate a list and tuple with those numbers. Sample data : 3, 5, 7, 23 Output : List : [’3’, ’ 5’, ’ 7’, ’ 23’] Tuple : (’3’, ’ 5’, ’ 7’, ’ 23’)

In [27]:
l1= [3,5,7,23]
t1 = tuple(l1)
print('List : ',l1)
print('Tuple : ',t1)

List :  [3, 5, 7, 23]
Tuple :  (3, 5, 7, 23)

Q16. Write a Python program to count the number 4 in a given list

In [32]:
x=input('Enter the list of integers:').split()
y=x.count('4')
print('number 4 appears :',y,'times',end='')

Enter the list of integers:1 2 4 3 5 4 6 14
number 4 appears : 2 times

Q17. Write a Python program to print all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence. Sample numbers list : numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958, 743, 527]

In [44]:
 numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958, 743, 527]
for i in range(len(numbers)):
    if numbers[i]==237:
        break
    elif numbers[i]%2==0:
        print(numbers[i],end=',')

386,462,418,344,236,566,978,328,162,758,918,

Q18. Write a Python program to print the length of the series and the series starting from the 3rd term, ending at the 3rd last term and the sum of a series

In [47]:
t3 = int(input("third term ="))
last = int(input("last term="))
s = int(input("Summation ="))
n = int(2*s/(tn+last))
print("Length of the series: ",n)


if n-5==0:
    d = (s-3*t3)//6
else:
    d = (last-t3)/(n-5)

a = t3-2*d
j = 0
print("Series:")
for j in range(n-1):
  print(int(a),end=" ")
  a+=d
print(int(a),end=" ")

third term =3
last term=2
Summation =5
Length of the series:  2
Series:
2 2

Q19. Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples. Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)] Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [3]:
sampleList= [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
l= len(sampleList)  
for i in range(0,l):  
          
    for j in range(0, l-i-1):  
            if (sampleList[j][1] > sampleList[j + 1][1]):  
                temp = sampleList[j]  
                sampleList[j]= sampleList[j + 1]  
                sampleList[j + 1]= temp
print(sampleList)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

Q20. Write a Python program to create a list by concatenating a given list which range goes from 1 to n. Sample list : [’p’, ’q’] „„ n = 5 Sample Output : [’p1’, ’q1’, ’p2’, ’q2’, ’p3’, ’q3’, ’p4’, ’q4’, ’p5’, ’q5’]

In [52]:
sample = ['p', 'q']
n = int(input('Enter the range'))
l2 = ['{}{}'.format(x, y) for y in range(1, n+1) for x in sample]
print(l2)

Enter the range6
['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5', 'p6', 'q6']

Q21. Write a Python program to find the biggest row sum of a given matrix.

In [5]:
X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]
rows=len(x)
cols=len(x[0])
sumRow = 0  
for i in range(rows):  
    
    for j in range( cols):  
        sumRow = sumRow + x[i][j] 
    print("Sum of " + str(i+1) +" row: " + str(sumRow))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Q22. Write a Python program to find the biggest column Multiplication of a matrix.

In [2]:
X = [[25,10,3],
    [41 ,50,36],
    [7 ,8,9]]
Y = [[51,18,9,26],
    [40,47,3,10],
    [4,35,9,11]]
res= [[0,0,0,0],
         [0,0,0,0],
         [0,0,0,0]]

for i in range(len(X)):
   
   for j in range(len(Y[0])):
      
       for k in range(len(Y)):
            res[i][j] += X[i][k] * Y[k][j]

for r in res:
    print(r)

[1687, 1025, 282, 783]
[4235, 4348, 843, 1962]
[713, 817, 168, 361]

Q23. Write a guessing game where the user must guess a secret number. After every guess the program tells the user whether their number was too large or too small. At the end the number of tries needed should be printed. It counts only as one try if they input the same number multiple times consecutively.

In [4]:
x=int(input('Enter a num between 0-250 to gess:'))
num=150
if x>100 and x<200 :
    print('very close')
elif x == num :
    print("That's true")
elif x>200 :
    print('High')
elif x<100 :
    print('Low')

Enter a num between 0-250 to gess:145
very close

Q24. Write a python program to transpose a matrix.

In [6]:

X = [[12,7],
    [4 ,5],
    [3 ,8]]

result = [[0,0,0],
         [0,0,0]]

for i in range(len(X)):
   
   for j in range(len(X[0])):
        result[j][i] = X[i][j]

for r in result:
    print(r)

[12, 4, 3]
[7, 5, 8]

Q25. Write a python program to perform a 2 matrix multiplication (following the algebra rules of matrix multiplication).

Q26. Write a python program to inverse a matrix.

In [23]:
import numpy as np
matrix = np.array([[10,7],[13,9]])
print("befor the prosess:")
print(matrix)
res =  np.linalg.inv(matrix)
print("after:")
print(res)

befor the prosess:
[[10  7]
 [13  9]]
after:
[[ -9.   7.]
 [ 13. -10.]]

Q27. Write a Python program to print all permutations of a sequence of numbers.

In [ ]:
def permutation(lst): 
  
    # If lst is empty then there are no permutations 
    if len(lst) == 0: 
        return [] 
  
    # If there is only one element in lst then, only 
    # one permuatation is possible 
    if len(lst) == 1: 
        return [lst] 
  
    # Find the permutations for lst if there are 
    # more than 1 characters 
  
    l = [] # empty list that will store current permutation 
  
    # Iterate the input(lst) and calculate the permutation 
    for i in range(len(lst)): 
       m = lst[i] 
  
       # Extract lst[i] or m from the list.  remLst is 
       # remaining list 
       remLst = lst[:i] + lst[i+1:] 
  
       # Generating all permutations where m is first 
       # element 
       for p in permutation(remLst): 
           l.append([m] + p) 
    return l

Q28. Write a Python program to sort (ascending and descending) a dictionary by its values.

In [11]:
personalInfo = {     'Name' : 'Lina', 
                     'Age' : '23', 
                     'Mid name' : 'Amin', 
                     'Last name' : 'AL-Rajabi'
                    }
print(sorted(personalInfo))
print(sorted(personalInfo,reverse=True))

['Age', 'Last name', 'Mid name', 'Name']
['Name', 'Mid name', 'Last name', 'Age']

Q29. Write a Python program to remove duplicates from Dictionary values.

In [57]:
student_data = {'id1': 
   {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id2': 
  {'name': ['David'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id3': 
    {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id4': 
   {'name': ['Surya'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
}

result = {}

for key,value in student_data.items():
    if value not in result.values():
        result[key] = value

print(result)

{'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

Q30. Write a Python program to print all unique values in a dictionary with their keys. Sample Data : [”V”:”S001”, ”V”: ”S002”, ”VI”: ”S001”, ”VI”: ”S005”, ”VII”:”S005”, ”V”:”S009”,”VIII”:”S007”] Expected Output : Unique Values: ’S005’, ’S002’, ’S007’, ’S001’, ’S009’

In [58]:
L = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
print("Original List: ",L)
u_value = set( val for dic in L for val in dic.values())
print("Unique Values: ",u_value)

Original List:  [{'V': 'S001'}, {'V': 'S002'}, {'VI': 'S001'}, {'VI': 'S005'}, {'VII': 'S005'}, {'V': 'S009'}, {'VIII': 'S007'}]
Unique Values:  {'S007', 'S002', 'S005', 'S001', 'S009'}

Q31. Write a Python program to find the keys of the highest 3 values in a dictionary.

In [ ]:

from collections import Counter 
  
# Initial Dictionary 
my_dict = {'A': 67, 'B': 23, 'C': 45,  
           'D': 56, 'E': 12, 'F': 69} 
  
k = Counter(my_dict) 
  
# Finding 3 highest values 
high = k.most_common(3)  
  
print("Initial Dictionary:") 
print(my_dict, "\n") 
  
  
print("Dictionary with 3 highest values:") 
print("Keys: Values") 
  
for i in high: 
    print(i[0]," :",i[1]," ")

Q32. Given a list, traverse it and count the occurrence of each element and create a dictionary to show the count of each element.

Q33. Given two sets find the intersection and remove the resulted elements from the first set.

In [81]:

set1  = {7,963,10,5,1,63,10}
set2 = {7,8,12,35,3,5,10}

res = set1.intersection(set2)
print("res = ", res)

for i in res:
    set1.remove(i)

print("new set1= ", set1)

res =  {10, 5, 7}
new set1=  {1, 963, 63}

Q34. Given two sets, Checks if One Set is subset or superset of Another Set. if it is a subset, delete all elements (not the set) from that set

In [107]:
set1  = {7,10,5,10}
set2 = {7,8,12,35,3,5,10}

if set1.issubset(set2):
    print("Yes,It's a subset")
    
    print(set1.clear())
elif set1.isupperset(set2):
        print("Yes,It's upper set")
else:
    print('No')

Yes,It's a subset
None

Q35. Write a Python program to print out a set containing all the item from list_1 which are not present in list_2. Test Data : list_1 = [”White”, ”Black”, ”Red”] list_2 = [”Red”, ”Green”] Expected Output : ’Black’, ’White’

In [122]:
set_1 = {'White','Black', 'Red'}
set_2 ={'Red', 'Green'}
print((set_1).difference(set_2))

{'Black', 'White'}

Q36. Write a Python program to find a distinct pair of numbers whose all product are odd from a sequence of integer values. Sample Input: [1, 4, 7, 3] Sample Output: 1, 3 
1, 7
3, 7

In [16]:
inputsample=[1,4,7,3]
oddnum=[]
for i in range(len(inputsample)):
    if inputsample[i]%2!=0:
        oddnum.append(inputsample[i])
print(oddnum)
i=0
while i<len(oddnum)-1:
    if (oddnum[i],oddnum[len(oddnum)-1]) == (oddnum[i],oddnum[i+1]):
        pass
    else:
        print(oddnum[i],oddnum[i+1])
        print(oddnum[i],oddnum[len(oddnum)-1])
        print(oddnum[len(oddnum)-1],oddnum[i+1])
    i=i+1

[1, 7, 3]
1 7
1 3
3 7

Q37. Write a Python program to compute the summation of the absolute difference of all distinct pairs in an given array (non-decreasing order). Sample array: [1, 2, 3] Then all the distinct pairs will be: 1 2 1 3 2 3 Sample Output: 1 + 2 + 1 = 4

In [77]:
inputsample=[1,4,7,3]
oddnum=[]
sum=0
for i in range(len(inputsample)):
    if inputsample[i]%2!=0:
        oddnum.append(inputsample[i])
print(oddnum)
i=0
while i<len(oddnum)-1:
    if (oddnum[i],oddnum[len(oddnum)-1]) == (oddnum[i],oddnum[i+1]):
        pass
    else:
        print(oddnum[i],oddnum[i+1])
        y=oddnum[i]+oddnum[i+1]
        print('sum=',y,'\n')
        print(oddnum[i],oddnum[len(oddnum)-1])
        z=oddnum[i]+oddnum[len(oddnum)-1]
        print('sum=',z,'\n')
        print(oddnum[len(oddnum)-1],oddnum[i+1])
        k=oddnum[len(oddnum)-1]+oddnum[i+1]
        print('sum=',k,'\n')
        l=oddnum[i]+oddnum[i]+oddnum[len(oddnum)-1]
        m=oddnum[i+1]+oddnum[len(oddnum)-1]+oddnum[i+1]
        print('res1=',l)
        print('res2=',m)
    i=i+1

[1, 7, 3]
1 7
sum= 8

1 3
sum= 4

3 7
sum= 10

res1= 5
res2= 17

Q38. Write a Python program to find the difference between the largest possible integer and the smallest possible integer which are created by maximum 4 digits each digit contains a value from 0 to 9. Input: 3245 Output: Min Int: 2345 Max Int: 5432 Max Difference: 3087

Q39. Write a Python program which adds up column and row of given table. Input cell value: 25 69 51 26 68 35 29 54 54 57 45 63 61 68 47 59 Result: 25 69 51 26 171 68 35 29 54 186 54 57 45 63 219 61 68 47 59 235 208 229 172 202 811

In [ ]:
while True:
    print("Input number of rows/columns (0 to exit)")
    n = int(input())
    if n == 0:
        break
    print("Input cell value:")
    x = []
    for i in range(n):
        x.append([int(num) for num in input().split()])

    for i in range(n):
        sum = 0
        for j in range(n):
            sum += x[i][j]
        x[i].append(sum)

    x.append([])
    for i in range(n + 1):
        sum = 0
        for j in range(n):
            sum += x[j][i]
        x[n].append(sum)
    print("Result:")
    for i in range(n + 1):
        for j in range(n + 1):
            print('{0:>5}'.format(x[i][j]), end="")
        print()

Q40. Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.

Sample List : [’abc’, ’xyz’, ’aba’, ’1221’] Expected Result : 2

In [51]:
sample=['abc', 'xyz', 'aba', '1221']
res = 0

for i in range(len(sample)):
    if len(sample) > 1 and sample[0] == sample[-1]:
            res =res+ 1

print(res)

0

Q41. Write a Python program that takes two lists and returns True if they have at least 3 common member

In [63]:
li1=[1,2,3,4,5]
li2=[1,5,6,7,3]
print(len(li1))
count=0
for i in range(len(li1)):
    if li2[i] in li1:
        count=count+1
if count>=3:
    print('True')
else:
    print('False')

5
True

Q42. Write a Python program to generate a list of 15 values and print the list with the first and last 5 elements are squared

In [67]:
li=input('Enter 15 element:').split()
for i in range(0,5):
    print((int(li[i]))**2)
for i in range(9,15):
    print((int(li[i]))**2)

Enter 15 element:1 2 3 4 5 6 7 8 9 10 11 12 13 14 15
1
4
9
16
25
100
121
144
169
196
225

Q43. The sum of the squares of the first ten natural numbers is, 12 + 22 + ... + 102 = 385 The square of the sum of the first ten natural numbers is,(1 + 2 + ... + 10)2 = 552 = 3025 Hence the difference between the sum of the squares of the first ten natural numbers and the square of the sum is 3025 − 385 = 2640. Find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum.

In [73]:
x=int(input('Enter the last num:'))
y=0
z=0
for i in range(1,x+1):
    y=y+i
y=y**2
for i in range(1,x+1):
    z=z+i**2
    
print('the squares of the first ten natural numbers is',y,'\n','The square of the sum of the first ten natural numbers is',z,'\n','the difference between the sum of the squares of the first ten natural numbers and the square of the sum is',y-z)

Enter the last num:10
the squares of the first ten natural numbers is 3025
 The square of the sum of the first ten natural numbers is 385
 the difference between the sum of the squares of the first ten natural numbers and the square of the sum is 2640

Q44. Write a Python program to convert list to list of dictionaries. Sample lists: [”Name”, ”Age”, ”ID”, ”Phone”], [”Lina”, ”21”, 1536698”, ”0798529788”] Expected Output: {’ Name’: ’Lina’, ’Age: ’21’ , ‘ID’: ’1536698’, ‘Phone’: ’0798529788’}

In [ ]:
Sample lists: [”Name”, ”Age”, ”ID”, ”Phone”], [”Lina”, ”21”, 1536698”, ”0798529788”]

Q45. Write a Python program to get the top three items in a shop. Sample data: ’item1’: 45.50, ’item2’:35, ’item3’: 41.30, ’item4’:55, ’item5’: 24 Expected Output: item4 55 item1 45.5 item3 41.3

In [50]:
sampledata={ 'tem1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}
s=[]
for values in sampledata.values() :
    s.append(values)
s.sort()
for i in range (-1,2):
    print(s[i])

55
24
35

Q46. Write a Python program to replace dictionary values with their sum

In [ ]:
    for d in list_of_dicts:
        n1 = d.pop('V')
        n2 = d.pop('VI')
        d['V+VI'] = (n1 + n2)/2
    return list_of_dicts 
student_details= [
  {'id' : 1, 'subject' : 'math', 'V' : 70, 'VI' : 82},
  {'id' : 2, 'subject' : 'math', 'V' : 73, 'VI' : 74},
  {'id' : 3, 'subject' : 'math', 'V' : 75, 'VI' : 86}
]
print(sum_math_v_vi_average(student_details))